.poster-card {

    padding: 0;
    display: inline-block;
    margin: 0 auto;

    &__link {
        text-decoration: none;

    }


    &__img {
        height: 300px;
        width: 300px;
        display: block;
        margin: 0 auto;
        border-radius: 8px;


    }

    &__info {
        display: block;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    &__description-img {
        border-radius: 8px;
        position: relative;
        display: flex;
        margin-left: auto;
        width: 200px;
        align-items: flex-end;
        justify-content: center;
        background-color: white;
        margin-top: -45px;
        margin-bottom: 30px;
        font-family: @font1;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: @black;
    }

    &__title {
        margin-top: 10px;
        margin-bottom: 0;
        font-family: @font1;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: @black;
    }

    &__description {

        font-family: @font1;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: @gray;
    }

    &__time {

        font-family: @font1;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: @gray;
        margin-bottom: 20px;
    }

    &__btn {
        padding: 0;
        border: none;
        background-color: transparent;

    }
}