.schedule{

.container;
    &__title,
    &__place{
            font-family: @font1;
    color: @black;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    }
&__week{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
    &__time{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
&__btn-hall{
    background-color: transparent;
    border-radius: 14px;
    padding: 10px 16px;
    border: 1px solid @gray_star;



}
}