.screen{
    &__btn{
        background-color: @purp-dark;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: none;
        margin: 5px 8px;
        padding: 0;
        cursor: pointer;


    }
    &__name{
        display: flex;
        justify-content: center;
        font-family: @font1;
        color: @dark_gray;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    &__line{
        height: 4px;
        width: 409px;
        background-color: @gray_star;
        border: none;
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
    }
    &__table{
        width: 424px;
        height: 280px;
    }
    &__td{
        font-family: @font1;
        color: @dark_gray;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    td{
        padding: 0;
    }
}